<a class="btn btn-primary" style="background-color: #55acee; margin: 30px;" href="https://www.linkedin.com/in/beyza-tarhan-8786a61a6/" role="button" 
  ><i class="fab fa-linkedin me-2"></i>Linkedin</a
>
<a class="btn btn-primary" style="background-color: #55acee; margin: 30px;" role="button" 
  ><i class="fab fa-email me-2"></i>beyzatarhn05@gmail.com</a
>
<a class="btn btn-primary" style="background-color:gray;border-color:rgb(117, 117, 117); margin: 30px;" href="https://github.com/beyzatarhn" role="button" 
  ><i class="fab fa-github me-2"></i>Github</a
>






